/* You can add global styles to this file, and also import other style files */
a {
    text-decoration: none;
    /* text-transform:uppercase;
    color: black;
    opacity:1;
    transition: all 3s ease-out ; */

}
/* 
  a:hover {
    color: red;
    opacity:0.4;
}   */